body {
    font-family: 'Noto Sans', sans-serif;
    color: #252525;
}


/* 説明文のスタイル */
.description {
    margin-bottom: 20px; /* タイトルとの間隔 */
    padding: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em; /* 文字サイズ */
    line-height: 1.4; /* 行間 */
    text-align: center;
}



#formBlock {
     width: fit-content;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}

.input-group {
    margin: 12px 0px 12px 0px;
}

.input-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
}

.required-label {
    background-color: #FFD900;
    color: #222222;
    padding: 2px 4px;
    margin-left: 5px;
    font-size: 12px;  /* サイズを少し小さくしてみました。 */
}

#submitButton {
    background-color: #FFD900; /* 黄金色 */
    color: #252525; /* 文字色 */
    padding: 2px 8px; /* 上下のパディングと左右のパディング */
    border: none; /* 境界線なし */
    text-align: center; /* 文字を中央揃えに */
    text-decoration: none; /* 下線を消す */
    display: inline-block; /* インラインブロック要素として表示 */
    font-size: 12px; /* 文字サイズ */
    margin: 4px 2px; /* 外側の余白 */
    cursor: pointer; /* カーソルをポインターに */
    border-radius: 0; /* 角の丸みをなくす */
    transition-duration: 0.4s; /* ホバー時の遷移の時間 */
}