body {
    font-family: 'Noto Sans', sans-serif;
    color: #222222;
}

#formBlock {
     width: fit-content;
    margin: 0 auto;
}

.title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}

.input-group {
    margin: 12px 0px 12px 0px;
}

.input-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
}

.required-label {
    background-color: #FFD900;
    color: #222222;
    padding: 2px 4px;
    margin-left: 5px;
    font-size: 12px;  /* サイズを少し小さくしてみました。 */
}