body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px; /* スマホでの表示を考慮して余白を追加 */
}

.survey-container {
  background-color: #fff;
  padding: 20px; /* モバイルに適したパディングに調整 */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* コンテナの幅をスクリーン幅に合わせる */
  /* max-width: 500px; 最大幅を設定してデスクトップでの表示を考慮 */
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5em; /* タイトルのフォントサイズを大きくする */
}

form {
  width: 100%; /* フォームの幅を100%に */
}

fieldset {
  border: none;
  margin: 20px 0;
}

legend {
  font-weight: bold;
  color: #252525;
  margin-bottom: 15px;
  font-size: 1.2em; /* フォントサイズを大きくする */
}

label {
  display: inline-block; 
  margin-top: 10px;
  color: #252525;
  font-size: 1em; /* フォントサイズを大きくする */
}

input[type="checkbox"] {
  transform: scale(1.5); /* チェックボックスを大きくする */
  margin-right: 10px; /* チェックボックスのマージンを調整 */
  vertical-align: middle; /* チェックボックスをテキストの中央に揃える */
}

input[type="text"],
input[type="range"] {
  padding: 15px; /* 入力フィールドのパディングを大きく */
  margin-top: 10px; /* マージンを調整 */
  font-size: 1em; /* フォントサイズを大きく */
}

input[type="submit"] {
  background-color: #ff9800;
  color: white;
  padding: 15px 30px; /* ボタンのパディングを大きく */
  font-size: 1em; /* フォントサイズを大きく */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px; /* ボタンのマージンを調整 */
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #e68900;
}
