body {
  font-family: 'Arial', sans-serif;
  /* background-color: #f4f4f4; */
  margin: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* スマホでの表示を考慮して余白を追加 */
}
h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px; 
}

form {
  width: 100%; /* フォームの幅を100%に */
}

fieldset {
  border: none;
  margin: 24px 0;
}

legend {
  font-weight: bold;
  color: #252525;
  margin-bottom: 15px;
  font-size: 24px; /* フォントサイズを大きくする */
}

label {
  display: inline-block; 
  margin-top: 10px;
  color: #252525;
  font-size: 20px; /* フォントサイズを大きくする */
}

.answer {
  margin-bottom: 12px;
}

input[type="checkbox"] {
  transform: scale(1.5); /* チェックボックスを大きくする */
  margin-right: 10px; /* チェックボックスのマージンを調整 */
  vertical-align: middle; /* チェックボックスをテキストの中央に揃える */
}



input[type="text"]{
  padding: 15px; /* 入力フィールドのパディングを大きく */
  margin-top: 10px; /* マージンを調整 */
  font-size: 12px; /* フォントサイズを大きく */
}
.slider-container {
  width: 100%;
  margin: 2rem auto;
}

/* スライダーのスタイル */
.slider {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  appearance: none;
  width: 100%; /* スライダーの幅を親要素いっぱいに広げる */
  height: 25px; /* スライダーのトラックの高さ */
  outline: none; /* フォーカス時のアウトラインを削除 */
  opacity: 0.7; /* 透明度 */
  -webkit-transition: .2s; /* Chrome, Safari, Edge, Opera */
  transition: opacity .2s;
}

/* スライダーのつまみ（サム）のスタイル */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  appearance: none;
  width: 25px; /* つまみの幅 */
  height: 25px; /* つまみの高さ */
  margin-top: -8.5px;
  border-radius: 50%;
  background: #FFD900; /* つまみの背景色 */
  cursor: pointer; /* カーソルをポインタに変更 */
}

.slider::-moz-range-thumb {
  width: 25px; /* つまみの幅 */
  height: 25px; /* つまみの高さ */
  border-radius: 50%;
  margin-top: -8.5px;
  background: #FFD900; /* つまみの背景色 */
  cursor: pointer; /* カーソルをポインタに変更 */
}

/* スライダーのトラック部分のスタイル（選択済み部分） */
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #FFD900;
  border-radius: 25px;
}

.slider::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #FFD900;
  border-radius: 25px;
}

/* IE用のスライダーのスタイル */
.slider::-ms-track {
  width: 100%;
  height: 8px;
  /* IEではトラックのスタイルを変更できないため、透明に設定 */
  background: transparent; 
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.slider::-ms-fill-lower {
  background: #FFD900;
  border-radius: 25px;
}

.slider::-ms-fill-upper {
  background: #d3d3d3;
  border-radius: 25px;
}

.slider::-ms-thumb {
  margin-top: 1px; /* トラックからつまみがはみ出ないように調整 */
  width: 25px;
  height: 25px;
  background: #FFD900;
  cursor: pointer;
}

/* ラベルのスタイル */
.slider-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.slider-label {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1%;
}

.slider-label::before {
  content: attr(data-value);
  position: absolute;
  /* top: -30px; */
}



.button {
  text-align: left;
  width: 100%;
}

.submitSurvey {
  background-color: #FFD900; /* 黄金色 */
  color: #252525; /* 文字色 */
  padding: 10px 20px; /* 上下のパディングと左右のパディング */
  border: none; /* 境界線なし */
  text-align: center; /* 文字を中央揃えに */
  text-decoration: none; /* 下線を消す */
  display: inline-block; /* インラインブロック要素として表示 */
  font-size: 16px; /* 文字サイズ */
  margin: 4px 2px; /* 外側の余白 */
  cursor: pointer; /* カーソルをポインターに */
  border-radius: 0; /* 角の丸みをなくす */
  transition-duration: 0.4s; /* ホバー時の遷移の時間 */
}



input[type="submit"] {
  background-color: #ff9800;
  color: white;
  padding: 15px 30px; /* ボタンのパディングを大きく */
  font-size: 1em; /* フォントサイズを大きく */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px; /* ボタンのマージンを調整 */
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #e68900;
}
